* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --lightning-blue: #51d0de;
  --lightning-purple: #bf4aa8;
  --grey-matter: #d9d9d9;
  --olive-black: #2f2f2f;
}

html {
  font: 16px/1 "Times New Roman";
  font-family: "Times New Roman", Times, serif;
  background-color: var(--grey-matter);
}

ul {
  list-style-type: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.entree-card__wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: main;
  margin: 0 10vw;
}
