* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --lightning-blue: #51d0de;
  --lightning-purple: #bf4aa8;
  --lightning-white: #d9d9d9;
  --olive-black: #2f2f2f;
}

html {
  font: 20px/1.5 "Times New Roman";
  font-family: "Times New Roman", Times, serif;
  background-color: var(--lightning-white);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vmin;
}
